a {
	color: mediumaquamarine;
	text-decoration: none;
}

a:hover {
	color: mediumslateblue;
}

ul li {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	font-weight: bold;
	list-style: none;
	text-decoration: none;
	margin: 5px 15px 7px 5px;
}

.header-container {
	padding-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	cursor: pointer;
}

.header-title {
	color: mediumaquamarine;
	text-decoration: none;
	line-height: 10px;
}

.container-welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

.container-welcome p {
	line-height: 1.5rem;
	font-weight: 400;
}
.container-welcome ul:before {
	content: attr(aria-label);
	font-size: 120%;
	font-weight: bold;
	margin-left: -15px;
}

.container-welcome ul li {
	display: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.dark-icon {
	margin-right: 25px;
	margin-top: 15px;
	margin-left: 35px;
}

code {
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	font-family: SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono,
		Liberation Mono, Menlo, Courier, monospace;
	padding: 0.2em 0;
}

img {
	border-radius: 50%;
	border: 2px solid white;
	width: 150px;
	height: 150px;
}
